<%= form_for [topic] do |f| %>
  <% if topic.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(topic.errors.count, "Error") %>.</h4>
      <ul>
        <% topic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="circle">
    <div class="circle-form">
      <%= form_group_tag(topic.errors[:name]) do %>
        <h3><%= f.label :name, class: 'rant' %></h3>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter rant name" %>
      <% end %>
        
      <%= form_group_tag(topic.errors[:description]) do %>
        <h3><%= f.label :description, class: 'rant' %></h3>
        <%= f.text_area :description, rows: 1, class: 'form-control', placeholder: "Enter rant description" %>
      <% end %>
       
      <div class="form-group">
        <%= f.label :public, class: 'checkbox' do %>
          <%= f.check_box :public %> Public Rant
        <% end %>
      </div>
      <%= f.submit "Save", class: 'btn btn-danger' %> 
    </div> 
  </div> 
        
<% end %>