<div class="row">
  <% if current_user %>
    <%= link_to new_topic_post_path(@topic) do %>
      <div class="col-md-4">
         <div class="circle-xsml-btn">
           <div class="circle-xsml-btn-txt">
             <h3>Add a</h3>
             <h3>Thought</h3>
           </div> 
         </div> 
      </div>
    <% end %>
  <% else %>
    <div class="col-md-4">
      <div class="circle-sml">
         <div class="circle-txt">
           <h3 class="rant">Sign up to add Thoughts</h3>
           <%= link_to "Sign Up", new_user_path, class: 'btn btn-danger' %>
         </div>
      </div>
    </div>
  <% end %>
  <div class="col-md-8">
    <div class="circle">
      <div class="circle-txt">
        <h1 class="rant"><%= @topic.name %></h1>
        <p><%= @topic.description %></p>
        <% if user_is_authorized_for_topics? %>
          <%= link_to "Edit Rant", edit_topic_path, class: 'btn btn-default' %>
          <%= link_to "Delete Rant", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %>
        <% end %> 
      </div>
    </div>
  </div> 
</div>
<div class="row">
  <% @topic.posts.each do |post| %>
    <div class="col-md-4">
      <div class="circle-sml">
        <div class="circle-form">
          <h3 class="rant"><%= link_to post.title, topic_post_path(@topic, post) %></h3>
          <%= render partial: 'votes/voting', locals: { post: post } %>
          Thought <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %> <br>
          <%= post.comments.count %> Comments
        </div>
      </div>
    </div>
  <% end %>
</div>