<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% if @user.avatar_url(128) %>
         <div class="media-left">
           <%= image_tag @user.avatar_url(128), class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <% if user_has_no_posts_or_comments?(@posts, @comments) %>
          <h2 class="media-heading"><%= "#{@user.name} has not submitted any posts yet." %></h2>
             <% else %>
             <h2 class="media-heading"><%= @user.name %></h2>
             <small>
             <%= pluralize(@user.posts.count, 'post') %>,
             <%= pluralize(@user.comments.count, 'comment') %>
             <%= pluralize(@user.favorites.count, 'favorite') %>
             </small>
         <% end %>
       </div>
     </div>
   </div>
 </div>
 

 <h2>Posts</h2>
 <%= render @user.posts %>
 
 <h2>Comments</h2>
 <%= render @user.comments %>
 
 <h2>Favorites</h2>
 <%= render @user.favorite_posts %>
 
       

