<%= form_for [topic, post] do |f| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(post.errors.count, "error") %>.</h4>
      <ul>
        <% post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="circle">
    <div class="circle-form">
      <%= form_group_tag(post.errors[:title]) do %>
        <h3 class="rant"><%= f.label :title %></h3>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter thought title" %>
      <% end %>
      <%= form_group_tag(post.errors[:body]) do %>
        <h3 class="rant"><%= f.label 'Thought' %></h4>
        <%= f.text_area :body, rows: 1, class: 'form-control', placeholder: "Enter thought body" %>
      <% end %>
      <%= f.submit "Save", class: 'btn btn-danger' %>
    </div> 
  </div>
<% end %>