<div class="row">
    <div class="col-md-8">
        <div class="circle">
            <div class="circle-form">
              <h1 class="rant"><%= @post.title %></h1>
              <%= render partial: 'votes/voting', locals: { post: @post } %>
              <h4><%= @post.body %></h4>
              <p>submitted <%= time_ago_in_words(@post.created_at) %> ago by</p>
              <h4 class="rant"><%= @post.user.name %></h4>
              <% if user_is_authorized_for_post?(@post) %>
                <%= link_to "Edit Post", edit_topic_post_path(@post.topic, @post), class: 'btn btn-default' %>
                <%= link_to "Delete Post", [@post.topic, @post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' } %>
              <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="circle-sml">
        <div class="circle-form">
           <h1 class="rant"><%= pluralize(@post.points, 'POINT') %></h1>
           <h3><%= pluralize(@post.up_votes, 'Up vote') %></h3>
           <h4><%= pluralize(@post.down_votes, 'Down vote') %></h4>     
           <% if current_user %>
             <%= render partial: 'favorites/favorite', locals: { post: @post } %>
           <% end %>
        </div>      
      </div>    
    </div>
</div>
<div class="row">
 <%= render @post.comments %> 
 <div class="col-md-4">
   <% if current_user %>
     <%= render 'comments/form', comment: Comment.new, post: @post %>     
   <% else %>
     <div class="circle-sml">
       <div class="circle-txt">
         <h3 class="rant">Sign up to add Comments</h3>
         <%= link_to "Sign Up", new_user_path, class: 'btn btn-danger' %>
       </div>      
     </div>
   <% end %>
  </div>
</div>

 
     
    
      
      
     
   
   
   
      
 